{% extends 'main/layout.html' %}
{% block title_page %}Генератор визиток{% endblock %}
{% block title %}Генератор визиток{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-lg shadow p-3 mb-2">
            <h3 class="text-center">Найти визитку по ID: </h3>
            <br>
            <form>
                <div class="form-group text-center">
                    <input type="text" class="form-control p-2" id="foundById" placeholder="Введите id визитки">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Поиск</button>
            </form>
        </div>
        <br>
        <div class="col-lg shadow p-3 mb-2">
            <h3 class="text-center">Создайте свою визитку </h3>
            <h6 class="text-center">для этого заполните следующие поля:</h6>
            <br>
            <form>
                <div class="form-group">
                    <label class="mb-3" for="Names"><i class="fa-solid fa-person"></i> ФИО: </label>
                    <input type="text" class="form-control" id="Names" placeholder="Иванов Иван Иванович">
                </div>
                <br>
                <div class="form-group">
                    <label class="mb-3" for="Names"><i class="fa-solid fa-phone"></i> Номер телефона: </label>
                    <input type="text" class="form-control phone" id="PhoneNumber" placeholder="+7(___)___-____">
                </div>
                <br>
                <div class="form-group">
                    <label class="mb-3" for="Names"><i class="fa-solid fa-envelope"></i> Адрес электронной почты: </label>
                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="example@mail.ru">
                </div>
                <br>
                <div class="form-group">
                    <label class="mb-3" for="Names"><i class="fa-brands fa-telegram"></i> Telegram: </label>
                    <input type="text" class="form-control" id="Telegram" placeholder="https://t.me/...">
                </div>
                <br>
                <div class="form-group">
                    <label class="mb-3" for="Names"><i class="fa-brands fa-vk"></i> VK: </label>
                    <input type="text" class="form-control" id="VK" placeholder="https://vk.ru/...">
                </div>
                <br>
                <div class="form-group">
                    <label class="mb-3" for="Names"><i class="fa-brands fa-youtube"></i> YouTube: </label>
                    <input type="text" class="form-control" id="YouTube" placeholder="https://youtube.com/...">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Создать визитку</button>
            </form>
        </div>
    </div>
{% endblock %}