{% extends 'main/layout.html' %}
{% block title_page %}Генератор визиток{% endblock %}
{% block title %}Генератор визиток{% endblock %}
{% block content %}
    <div class="container">
        <div class="col align-items-center">
            <div class="col-lg shadow p-5 mb-5">
                <h3 class="text-center">Найти по ID: </h3>
                <br>
                <form>
                    <div class="form-group text-center">
                        <input type="text" class="form-control p-2" id="foundById" placeholder="Введите id визитки">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </form>
            </div>
            <br>
            <div class="col-lg shadow p-5 mb-5">
                <h3 class="text-center">Создайте свою визитку: </h3>
                <br>
                <form>
                    <div class="form-group">
                        <label class="mb-3" for="Names">Введите свои ФИО: </label>
                        <input type="text" class="form-control" id="Names" aria-describedby="emailHelp" placeholder="ФИО">
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="mb-3" for="Names">Введите свой номер телефона: </label>
                        <input type="text" class="form-control phone" id="PhoneNumber" placeholder="">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Введите адрес электронной почты">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Telegram" aria-describedby="emailHelp" placeholder="Введите ссылку на ваш канал Телеграмм (если есть)">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="VK" aria-describedby="emailHelp" placeholder="Введите ссылку на вашу страницу VK (если есть)">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="YouTube" aria-describedby="emailHelp" placeholder="Введите ссылку на ваш YouTube канал (если есть)">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Создать визитку</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}