{% extends 'main/layout.html' %}

{% block content %}
    <header>
        <div class="container-fluid shadow-lg p-1 mb-5 gradient-main">
            <h1 class="text-center text-white">Генератор визиток</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg shadow p-1 mb-5">
                    <h3 class="text-center">Найти по ID</h3>
                </div>
                <div class="col-lg shadow p-1 mb-5">
                    <h3 class="text-center">Создайте свою визитку</h3>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
