{% extends 'main/layout.html' %}
{% block title_page %}Визитная карточка{% endblock %}
{% block title %}Визитная карточка{% endblock %}
{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg">
            <div class="m-1 p-2 shadow">
                Здесь будет картинка
            </div>
        </div>
        <div class="col-lg">
            <div class="m-1 p-2 shadow">
                 Данные пользователя
            </div>
        </div>
    </div>
</div>
{% endblock %}
